<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div xmlns="http://www.w3.org/1999/xhtml" class="gpm-hfm" id="DESKTOP_OBJ1_left_text" data-v-33dfa0ce=""
        style="position: relative; font-family: Montserrat, sans-serif;"><img
            src="http://benitoscarsalecorp.goxee.com/cloud/data/files/1747/My Files/0912-benitoscarsalecorp/banner1_bg_ver3.png"
            alt="" style="display: block; width: 100%;" />
        <div class="wrapper"
            style="position: absolute; top: 40%; left: 12.5%; transform: translate(-12.5%, -28%); color: rgb(255, 255, 255);">
            <div class="text1"
                style="font-size: calc(10px + 1vw); font-family: Montserrat, sans-serif; font-weight: 400;">Welcome to
            </div>
            <div class="text2"
                style="font-size: calc(34px + 1vw); font-family: Montserrat, sans-serif; font-weight: 900; letter-spacing: 2px;">
                BENITOS CAR SALE</div>
            <div class="wrapper-text"
                style="width: 100%; display: flex; justify-content: space-between; margin-bottom: 1vw; font-size: calc(8px + 1vw); font-family: Montserrat, sans-serif; font-weight: 400; font-style: italic;">
                <div class="wr-text1">Dreaming about your NEXT CAR?</div>
            </div><a href=""><span class="buttonMain button-1 hover-1"
                    style="display: inline-block; width: 50%; text-align: center; font-size: calc(1px + 1vw); padding: 0.5vw 0.2vw;">View
                    Inventory</span></a>
        </div>
    </div>
</body>

</html>